<nav class="navbar navbar-expand-lg navbar navbar-dark bg-warning">
<a class="navbar-brand" routerLink="/ss_onboarder"> <span class="sr-only">Onboarder</span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/take_course">Take Course</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://techcommunity.microsoft.com/t5/microsoft-teams/calendar-options-in-ms-teams/m-p/50685">Making Bookings</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/progress">Progress</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/faq">FAQ</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/ask_question">Ask Question</a>
    </li>
  </ul>
</div>
</nav>

<h1 class="container-fluid">Ask Question</h1>

<p></p>

<p>A Email will be sent to the HR Administrator in regards to your question. DON'T LET THE ROBOTS TAKE CONTROL.</p>

<div>
<form>

<label for="exampleFormControlInput1">Subject</label>
  <div class="form-group name">
    <input type="text"
           class="form-control input"
           id="title"
           name="title"
           [(ngModel)]="model3.title"
           placeholder="Subject">
  </div>

  <p></p>

  <label for="exampleFormControlInput1">Your Name:</label>
   <div class="form-group position">
    <input type="text"
           class="form-control positionInput"
           id="youtube"
           name="description"
           [(ngModel)]="model3.youtube"
           placeholder="Name / Anonymous">
  </div>

  <p></p>

  <label for="exampleFormControlTextarea1">Question Text</label>
  <div class="form-group name">
    <textarea 
      type="text"
      class="form-control" 
      id="exampleFormControlTextarea1" 
      rows="5"
      name="content"
      [(ngModel)]="model3.content"
      placeholder="Text"
      >
    </textarea>
</div>

<p></p>

  <div class="submitBtnContainer">
    <button type="submit" class="btn btn-success" (click)="setQuiz()">Send</button>
  </div>

</form>
</div> 




<div class="contant">
<div class="head"></div>
<div class="eye"></div>
<div class="eye2">
</div>
<div class="box"></div>
<div class="line"></div>
<div class="line down"></div>
<div class="line left"></div>
<div class="line right"></div>
<div class="cricle cr1"></div>
<div class="cricle cr2"></div>
<div class="cricle cr3"></div>
<div class="cricle cr4"></div>
<div class="cricle cr5"></div>
<div class="cricle cr6"></div>
<div class="clie cl1"></div>
<div class="clie cl2"></div>
<div class="clie cl3"></div>
<div class="clie cl4"></div>
<div class="clie cl5"></div>
<div class="ear "></div>
<div class="ear2"></div>
<div class="cr-ear lf"></div>
<div class="cr-ear rg"></div>
<div class="neck"></div>
<div class="body"></div>
<div class="body2"></div>
<div class="box2"></div>
<div class="box3"></div>
<div class="cricle-box crb"></div>
<div class="cricle-box crb2"></div>
<div class="cricle-box crb3"></div>
<div class="box4 lf1"></div>
<div class="box4 rg1"></div>
<div class="box5">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="hand lf2"></div>
<div class="hand rg2"></div>
<div class="hand2 lf3"></div>
<div class="hand2 rg3"></div>
<div class="arm lf4">
  <div class="arm ar1"></div>
  <div class="arm ar2"></div>
  <div class="arm ar3"></div>
  <div class="arm ar4"></div>
</div>
<div class="arm rg4">
<div class="arm ar1"></div>
<div class="arm ar2"></div>
<div class="arm ar3"></div>
<div class="arm ar4"></div>
</div>
<div class="span"></div>
<div class="span1"></div>
<div class="span1 sp"></div>
<div class="octa"></div>
<div class="shadow"></div>

</div>
